In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from core import data

In [3]:
json = data.extract.json("private/runes.json")

In [4]:
monsters = data.extract.monsters(json); monsters

,class,hp,atk,def,spd,res,acc,crt,crd,skills,attribute,create_time,source,homunculus,homunculus_name,name
id,,,,,,,,,,,,,,,,
19918998103,6,9885,736,582,95,15,0,15,50,"[[10616, 2], [10606, 2], [10611, 1]]",1,2024-06-20 21:17:07,27,0,,Lapis
19938703052,6,9225,736,626,103,15,0,15,50,"[[13301, 1], [13306, 2], [13311, 1]]",1,2024-06-23 18:54:55,42,0,,Abigail
19938703405,6,11535,714,494,108,15,0,15,50,"[[10211, 1], [10216, 1], [10221, 1]]",1,2024-06-23 18:54:59,42,0,,Galleon
19942289075,6,9720,988,505,99,15,0,30,50,"[[3201, 1], [3206, 1], [3211, 1]]",1,2024-06-24 04:55:50,16,0,,Sigmarus
19967664494,6,11205,615,780,97,40,0,15,50,"[[15421, 1], [15426, 1], [15431, 1], [15436, 1]]",1,2024-06-28 05:17:43,30,0,,Aaaliyah
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19940369162,5,7875,540,324,103,15,0,15,50,"[[5502, 2], [5507, 1], [5512, 3]]",2,2024-06-23 23:35:40,42,0,,Clara
19925008998,4,6240,362,291,99,15,0,15,50,"[[6501, 1], [6506, 1], [6511, 1]]",1,2024-06-21 18:41:07,5,0,,Liesel
19925243637,4,5340,428,285,105,15,25,15,50,"[[14801, 1], [14806, 1], [14811, 1]]",1,2024-06-21 19:30:19,42,0,,Lariel
19970020483,4,5700,362,327,100,15,0,15,50,"[[15601, 1], [15606, 1], [15611, 1]]",1,2024-06-28 17:21:31,42,0,,Susan
19950691819,4,6690,339,285,100,15,25,15,50,"[[15802, 1], [15807, 1], [15812, 1]]",2,2024-06-25 09:00:55,42,0,,Manx

In [5]:
runes = data.extract.runes(json); runes

,monster,slot,set,hp,hp%,atk,atk%,def,def%,spd%,spd,crt,crd,res,acc
id,,,,,,,,,,,,,,,
45968131124,19918998103,1,Blade,0,0,118,13,0,0,0,11,15,0,8,5
46050920366,19918998103,2,Fatal,332,5,0,47,35,0,0,5,15,0,0,0
45890876944,19918998103,3,Blade,139,0,0,0,118,8,0,6,12,18,0,0
45977263962,19918998103,4,Fatal,0,0,18,13,0,5,0,0,16,80,0,4
45725036318,19918998103,5,Fatal,1800,0,0,7,0,9,0,6,16,0,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45993908594,0,5,Tntangible,1800,0,0,6,0,6,0,0,18,0,8,0
45983328994,0,6,Tntangible,0,0,0,47,0,0,0,5,20,4,5,0
46092618788,0,6,Tntangible,0,7,0,11,11,0,0,0,0,7,8,0
46106912251,0,6,Tntangible,0,0,0,11,0,0,0,0,0,7,5,0
46121529449,0,6,Tntangible,0,7,15,11,0,0,0,0,6,0,0,0

In [6]:
import numpy
from core.optimizer.optimizer import optimize
weights = dict(zip(runes.columns[3:], numpy.ones_like(runes.columns)))

In [10]:
optimize(runes, weights)

{'status': 'Optimal',
 'objective': 8907.0,
 'solution': {45700604499: 1.0,
  45744394049: 1.0,
  46094166333: 1.0,
  45866603931: 1.0,
  46094609674: 1.0,
  45842740552: 1.0}}